.replays_list{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 670px;
    height: 630px;
    padding: 5px;
}

.replay{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    height: 80px;
    cursor: pointer;
    width: calc(100% - 35px);
}
.replay:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.replay .champion_image{
    background-color: #fff;
    background-size: 100%;
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-right: 5px;
}
.replay .information{
    display: inline-block;
    height: 50px;
    position: relative;
    padding: 5px;
    bottom: 10px;
    margin-right: 5px;
    width: 120px;
}
.replay .information .who_won{
    font-weight: bold;
}
.replay .information .game_type{
    color: rgba(182, 166, 136, 0.8);
}
.replay .information .summoner_spells .spell{
    display: inline-block;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.replay .items{
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin-right: 10px;
    width: 225px;
}
.replay .items .items_bar{
    margin-bottom: 5px;
}
.replay .items .items_bar .item{
    display: inline-block;
    background-color: #010A13;
    background-size: 100%;
    width: 25px;
    height: 25px;
    border: 2px solid #c1a267;
    margin-right: 3px;
}
.replay .items .info span{
    color: rgba(182, 166, 136, 0.8);
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
}

.replay .extra{
    display: inline-block;
    position: relative;
    bottom: 8px;
    width: 110px;
}
.replay .extra div{
    font-size: 15px;
    margin-bottom: 10px;
    color: rgb(134, 134, 134);
}


.tool_bar{
    background-color: #fff;
    display: inline-block;
    position: absolute;
    width: 315px;
    height: 640px;
    top: 0px;
    right: 0px;
}